html {
  box-shadow: border-box;
  background-color: #dbd6cf;
  font-family: sans-sans-serif;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  background-color: #79756f;
  text-align: center;
  border: 3px solid #595652;
  color: #fff;

}

ul {
  list-style-type: none;

}

a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #713837;

}
